
<div id="room">

    <div id="content">

        <div id="main-video">

            <!--big videos-->

        </div>

        <div id="logo">
            <img src="img/kurento.png" />
        </div>

        <div id="room-name">{{roomName}}</div>
        <div class="mb" align="right" style="margin: 1em;" id="buttonActions"> 
            <!--eliminado class action de los botones para cambiar el css-->
            <!--aumentado el tamaño de los iconos con css (room.css)-->
            <button class="btn btn--xl btn--teal btn--fab mdi md-volume-up" lx-ripple ng-click="onOffVolume()" id="buttonVolume"></button> <!--mute audio-->
            <button class="btn btn--xl btn--grey btn--fab mdi md-videocam" lx-ripple ng-click="onOffVideocam()" id="buttonVideocam"></button> <!--mute video-->
            <button class="btn btn--xl btn--orange btn--fab mdi md-desktop-mac " lx-ripple ng-click=""></button> <!--compartir escritorio-->
            <button class="btn btn--xl btn--red btn--fab mdi md-call-end " lx-ripple ng-click="leaveRoom()"></button> <!--colgar-->
            <button class="btn btn--xl btn--green btn--fab mdi md-fullscreen" lx-ripple ng-click="goFullscreen()"></button> <!--fullscreen-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-chat" lx-ripple ng-click="toggleChat()"></button> <!--chat-->
        </div>

        <div id="participants">

            <!--small videos-->

        </div>
    </div>


    <!--CHAT--> 

    <div class="toggler" style="width: 20%;height: 100%;float: right" >
        <div id="effect" style="display:none">
            <!--head-->
            <div>
                <strong>Chat</strong>
                <button class="btn btn--s btn--blue btn--icon mdi md-close" lx-ripple ng-click="toggleChat()" id="button"></button> <!--close-->
            </div>

            <div style="height: 30em;  overflow: scroll;">
                <ul class="list" >

                    <!--chat messages with scroll-->

                </ul>
            </div>

            <!--message and button to send-->
            <div>
                <form>
                    <lx-text-field label="Message">
                        <input id="inputMessage" type="text" ng-model="message">
                    </lx-text-field>
                    <button type="submit" class="btn btn--m btn--green btn--raised" lx-ripple ng-click="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
