
<div id="room">

    <div id="content">
        <div id="main-video">
            <!--<video id="native-video-{{elementId}}" autoplay muted="muted"></video>-->
        </div>
        <div id="logo">
            <img src="img/kurento.png" />
        </div>
        <div id="room-name">{{roomName}}</div>
        <div class="action">
            <a href="" ng-click="leaveRoom()">Exit room</a>
        </div>
        <div class="action">
            <a href="" ng-click="toggleFullScreen()">Full Screen</a>
        </div>
        <div id="participants">
            <!--            <div id="video-{{elementId}}" class="video">
                            <div class="participant" id="{{elementId}}">
                                <div id="name-{{elementId}}" class="name">
                                    <video id="native-video-{{elementId}}" autoplay muted="muted">{{elementId}}</video>
                                </div>
                            </div>
                        </div>            -->
        </div>
    </div>

    <!-- <div id="chat">
            <div id="chat-header">Group chat</div>
            <div id="chat-content-wrapper">
                    <div id="chat-content">
                            <p>Luis kkk kk ssss</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>

                    </div>
            </div>
            <div id="chat-message">Message box</div>
    </div>-->
</div>
