
<div id="room">

    <div id="content">

        <div id="main-video">
            <!--<video id="native-video-{{elementId}}" autoplay muted="muted"></video>-->
        </div>

        <div id="logo">
            <img src="img/kurento.png" />
        </div>

        <div id="room-name">{{roomName}}</div>
        <div class="mb" align="right" style="margin: 1em;">
            <!--eliminado class action de los botones para cambiar el css-->
            <button class="btn btn--xl btn--teal btn--fab mdi md-volume-up" lx-ripple ng-click="onOffVolume()" id="buttonVolume"></button> <!--mute audio-->
            <button class="btn btn--xl btn--grey btn--fab mdi md-videocam" lx-ripple ng-click="onOffVideocam()" id="buttonVideocam"></button> <!--mute video-->
            <button class="btn btn--xl btn--orange btn--fab mdi md-desktop-mac " lx-ripple ng-click=""></button> <!--compartir escritorio-->
            <button class="btn btn--xl btn--red btn--fab mdi md-call-end " lx-ripple ng-click="leaveRoom()"></button> <!--colgar-->
            <button class="btn btn--xl btn--green btn--fab mdi md-fullscreen" lx-ripple ng-click="goFullscreen()"></button> <!--fullscreen-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-chat buttonChat" lx-ripple ng-click=""></button> <!--chat-->
        </div>

        <div id="participants">
            <!--            <div id="video-{{elementId}}" class="video">
                            <div class="participant" id="{{elementId}}">
                                <div id="name-{{elementId}}" class="name">
                                    <video id="native-video-{{elementId}}" autoplay muted="muted">{{elementId}}</video>
                                </div>
                            </div>
                        </div>            -->
        </div>
    </div>

    <!-- <div id="chat">
            <div id="chat-header">Group chat</div>
            <div id="chat-content-wrapper">
                    <div id="chat-content">
                            <p>Luis kkk kk ssss</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>

                    </div>
            </div>
            <div id="chat-message">Message box</div>
    </div>-->

    <div class="toggler" style="width: 20%;height: 100%;float: right" >
        <div id="effect">

            <strong>Chat</strong>
            <button class="btn btn--s btn--blue btn--icon mdi md-close buttonChat" lx-ripple ng-click="" id="button"></button> <!--cerrar-->

            <div>
                <ul class="list">

                    <li class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-primary-tile">
                            <img class="list-primary-tile__img" src="http://ui.lumapps.com/demo/images/demo/1-square.jpg">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>User 1</strong>
                            <span>.............................</span>
                        </div>
                    </li>

                    <li class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-secondary-tile">
                            <img class="list-primary-tile__img" src="http://ui.lumapps.com/demo/images/demo/2-square.jpg">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>User 2</strong>
                            <span>.............................</span>
                        </div>
                    </li>

                    <li class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-primary-tile">
                            <img class="list-primary-tile__img" src="http://ui.lumapps.com/demo/images/demo/1-square.jpg">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>User 1</strong>
                            <span>.............................</span>
                        </div>
                    </li>

                    <li class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-secondary-tile">
                            <img class="list-primary-tile__img" src="http://ui.lumapps.com/demo/images/demo/2-square.jpg">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>User 2</strong>
                            <span>.............................</span>
                        </div>
                    </li>

                    <li class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-primary-tile">
                            <img class="list-primary-tile__img" src="http://ui.lumapps.com/demo/images/demo/1-square.jpg">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>User 1</strong>
                            <span>.............................</span>
                        </div>
                    </li>

                    <li class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-secondary-tile">
                            <img class="list-primary-tile__img" src="http://ui.lumapps.com/demo/images/demo/2-square.jpg">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>User 2</strong>
                            <span>.............................</span>
                        </div>
                    </li>

                </ul>
            </div>

            <div>
                <lx-text-field label="Message">
                    <input type="text" ng-model="message">
                </lx-text-field>
                <button class="btn btn--m btn--green btn--raised" lx-ripple>Send</button>

            </div>
        </div>
    </div>
</div>


<script>
            $(function () {
                // run the currently selected effect
                function runEffect() {
                    // get effect type from
                    //      var selectedEffect = $( "#effectTypes" ).val();
                    var selectedEffect = "slide";

                    // most effect types need no options passed by default
                    var options = {direction: "right"};

                    console.log($("#effect").width());
                    if ($("#effect").is(':visible')) {
                        console.log("visible");
                        $("#content").animate({width: '100%'}, 500);
                    } else {
                        console.log("oculto");
                        $("#content").animate({width: '80%'}, 500);
                    }
                    // run the effect
                    $("#effect").toggle(selectedEffect, options, 500);
                }
                ;

                // set effect from select menu value
                $(".buttonChat").click(function () {
                    runEffect();
                });
                $("#effect").hide();
            });
</script>
