
<div id="room">

    <div id="content">

        <div id="main-video">
            <!--<video id="native-video-{{elementId}}" autoplay muted="muted"></video>-->
        </div>

        <div id="logo">
            <img src="img/kurento.png" />
        </div>

        <div id="room-name">{{roomName}}</div>
        <div class="mb" align="right" style="margin: 1em;">
            <!--eliminado class action de los botones para cambiar el css-->
            <button class="btn btn--xl btn--teal btn--fab mdi md-volume-off" lx-ripple ng-click=""></button> <!--mute audio-->
            <button class="btn btn--xl btn--grey btn--fab mdi md-videocam-off" lx-ripple ng-click=""></button> <!--mute video-->
            <button class="btn btn--xl btn--orange btn--fab mdi md-desktop-mac" lx-ripple ng-click=""></button> <!--compartir escritorio-->
            <button class="btn btn--xl btn--red btn--fab mdi md-call-end " lx-ripple ng-click="leaveRoom()"></button> <!--colgar-->
            <button class="btn btn--xl btn--green btn--fab mdi md-fullscreen" lx-ripple ng-click="goFullscreen()"></button> <!--fullscreen-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-chat" lx-ripple ng-click=""></button> <!--chat-->
        </div>

        <div id="participants">
            <!--            <div id="video-{{elementId}}" class="video">
                            <div class="participant" id="{{elementId}}">
                                <div id="name-{{elementId}}" class="name">
                                    <video id="native-video-{{elementId}}" autoplay muted="muted">{{elementId}}</video>
                                </div>
                            </div>
                        </div>            -->
        </div>
    </div>

    <!-- <div id="chat">
            <div id="chat-header">Group chat</div>
            <div id="chat-content-wrapper">
                    <div id="chat-content">
                            <p>Luis kkk kk ssss</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>
                            <p>Pepe: sssss</p>
                            <p>Antonio: zzzzz</p>

                    </div>
            </div>
            <div id="chat-message">Message box</div>
    </div>-->
</div>
